{:site-title           "Firemore"
 :author               "Stephen Cagle"
 :description          "(Clojure, Firebase) -> Firemore"
 :site-url             "https://firemore.org/"
 :post-root            "posts"
 :page-root            "pages"
 :post-root-uri        "posts"
 :page-root-uri        "pages"
 :tag-root-uri         "tags"
 :author-root-uri      "authors"
 :public-dest          "blog"
 :blog-prefix          "/"
 :rss-name             "feed.xml"
 :rss-filters          ["cryogen"]
 :recent-posts         5
 :post-date-format     "yyyy-MM-dd"
 :archive-group-format "yyyy MMMM"
 :sass-src             []
 :sass-path            "sass"
 :compass-path         "compass"
 :theme                "blue_centered"
 :resources            ["img"]
 :keep-files           [".git"]
 :disqus?              false
 :disqus-shortname     ""
 :ignored-files        [#"\.#.*" #".*\.swp$"]
 :previews?            false
 :posts-per-page       5
 :blocks-per-preview   2
 :clean-urls           :trailing-slash
 :collapse-subdirs?    false
 :hide-future-posts?   true
 :klipse               {:settings {:selector ".language-klipse"}}
 :debug?               false}
