name: Master on Push

on:
  push:
    branches:    
      - master

jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
    - uses: actions/checkout@v1
    - name: Compile test code
      run: lein cljsbuild once test
    - name: Serve the content
      working-directory: ./resources/public
      run: python -m SimpleHTTPServer 3449 &
    - name: Install Puppeteer
      run: npm i puppeteer
    - name: Wait for server
      run: sleep 10s
    - name: Run tests
      run: node puppeteer-runner.js

  build-and-deploy:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    needs: test
    steps:
    - uses: actions/checkout@v1
    - name: Convert documentation to public url
      run:  sed -i 's/http:\/\/localhost:8000\/src/https:\/\/raw.githubusercontent.com\/samedhi\/firemore\/master\/src/g' content/md/pages/guide.md
    - name: Build documentation
      run:  lein run
    - name: Build (Codox) API
      run:  lein codox
    - name: Copy API into documentation
      run:  cp -r target/doc/* blog/pages/api/
    - name: Build the test
      run:  lein cljsbuild once test
    - name: test.html -> index.html
      run:  lein cljsbuild once test
    - name: test.html -> index.html
      run:  mv resources/public/test.html resources/public/index.html
    - name: Copy the test into documentation
      run:  cp -r resources/public/* blog/pages/test/
    - name: Install firebase CLI
      run:  curl -sL firebase.tools | bash
    - name: Host documentation at firemore.org
      env:
        FIREBASE_TOKEN: ${{ secrets.FIREBASE_TOKEN }}
      run:  firebase deploy --project inferno-8d188
